# Assignment 6

In [ ]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

###Data Description

Column | Description
:---|:---
`id` | Record index
`timestamp` | Datetime (YYYY:MM:DD HH:MM:SS) when data was collected
`country` | Current country of employment
`employment_status` | Whether a candidate is Full time, Part time, Independent or freelancer or company owner
`job_title` | Current job title of the candidate
`job_years` | Total job experience (in Years)
`is_manager` | Whether the candidate holds a managerial position or not (Yes or No)
`hours_per_week` | No. of hours per day committed to the current job
`telecommute_days_per_week` | No. of telecommuting days per week (working from home)
`education` | The highest degree in education the candidate has received
`is_education_computer_related` | Is the education related to the field of computer science (Yes or No)
`certifications` | Does the candidate have any relevant certifications (Yes or No)
`salary` | Monthly Salary (in US $$)

In [ ]:
# Dataset is already loaded below
data = pd.read_csv("employee.csv")

In [ ]:
# Dimensions of training data
data.shape

(4277, 13)

In [ ]:
# Print first few rows of data
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [ ]:
# drop id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [ ]:
# Explore columns
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [ ]:
# replace NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [ ]:
#Handling null values in categorical columns
data = data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

###Data Visualization :

## Feature Encoding and Normalization

Before training the model, we should perform one-hot encoding for all categorical/discrete variables, normalize continuous variables and then combine all data to form the training set.

In [ ]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [ ]:
# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [ ]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [ ]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [ ]:
final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [ ]:
final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Train Test Split

In [ ]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

## Pre-processing data

### Standardization (Z-score normalization):

$$ x_{\text{std}} = \frac{x - \mu}{\sigma} $$

- **Purpose:** Standardization transforms the data to have a mean of 0 and a standard deviation of 1.
- **Properties:**
  - Centers the data around 0.
  - Rescales the data to have unit variance.
  - Does not bound the data within a specific range.
  - Preserves the shape of the distribution.
- **Use Cases:**
  - Algorithms that assume zero-centered data or require features to have a similar scale (e.g., gradient descent-based algorithms, support vector machines).
  - When the distribution of the features is Gaussian-like.

### Normalization (Min-Max scaling):

 $$ x_{\text{norm}} = \frac{x - \min(x)}{\max(x) - \min(x)} $$

- **Purpose:** Normalization scales the data to a fixed range, typically [0, 1] or [-1, 1].
- **Properties:**
  - Scales the data to a specified range.
  - Shifts the data to start at 0.
  - Does not affect the shape of the distribution.
  - Preserves the relative relationships between data points.
- **Use Cases:**
  - Neural networks, especially those with activation functions sensitive to input magnitudes (e.g., sigmoid or tanh functions).
  - When the distribution of the features is unknown or non-Gaussian.

**Choosing Between Standardization and Normalization:**
- Use standardization when the distribution of your features is approximately Gaussian-like and you want to center the data and rescale it to have unit variance.
- Use normalization when the scale of your features is important, or when you need to bound the features within a specific range.
- It's often beneficial to try both preprocessing techniques and evaluate their effects on model performance to determine which one works best for your specific dataset and model.

In [ ]:
# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [ ]:
# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [ ]:
X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3740,2.812309,0,-0.498091,-0.625522,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1104,-0.737637,0,2.337715,2.382914,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
186,-0.230502,0,-0.498091,-0.625522,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
4167,-1.000474,0,0.089089,1.781227,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
687,0.276633,0,-0.498091,-0.625522,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,-0.737637,0,2.337715,-0.625522,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
851,-0.222222,0,0.157327,-0.625522,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
206,-0.015163,0,0.008286,-0.023834,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2635,0.783768,0,2.337715,-0.023834,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1173,-0.788217,0,-0.277870,-0.625522,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [ ]:
reg.coef_

array([  187.10837912,    46.16391195,   214.46300074,   230.14465766,
          78.93610086,   -80.55959485,   139.82739109, -2217.96277598,
        1151.02196167,   849.77652365,   886.60674936,   545.03578118,
         990.50457586,   861.75309943,    -6.11607027,   948.65142472,
         742.44525632,  3584.05510128,   397.19825101,   111.49897334,
         223.98390229,   287.52431341,  -334.95718997,  -146.66719244])

In [ ]:
reg.intercept_

6086.903543480341

Just to recall

$\hat{y} = \alpha + \beta_1 * X_1 + \beta_2 * X_2 +...$

Our Final model is given by -

$\hat{y} = 6145.79 + 1.887 * X_1 + 7.22 * X_2 +...$

In [ ]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

213.4783017292174

In [ ]:
# Predict on the test data
y_pred = reg.predict(X_test)

In [ ]:
#Evaluate the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 13790.728198405364

*A lower MSE indicates that the model's predictions are closer to the actual values on average, while a higher MSE suggests larger errors between predictions and actual values.
❗Pre-processing on Test data not done.

In [ ]:
#Q1. Preprocess Test data and get predictions

In [ ]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
2070,-1.735636,0,2.468526,2.497733,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1789,0.821099,0,1.247487,0.621133,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1036,-0.140790,1,0.424696,-0.629933,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
718,-0.766446,0,-0.448999,-0.629933,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
2342,1.171933,0,-0.448999,-0.629933,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180,0.202744,1,-0.448999,-0.629933,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1183,-1.251041,0,-0.448999,-0.629933,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1811,1.656528,0,-0.448999,-0.629933,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1171,0.202744,1,-0.448999,-0.629933,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
957,-0.050023,0,-0.227699,0.621133,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [ ]:
y_hat = reg.predict(X_test)
y_hat

array([7872.42835661, 7578.12159909, 6755.93946187, 6583.5053536 ,
       7545.40175426, 7409.22415768, 7179.04016787, 6893.20494474,
       7309.29746616, 6280.23746502, 5952.75666422, 6038.47681756,
       7411.58364263, 8680.34500348, 6552.08552238, 6286.80826149,
       7221.93215493, 7408.68540748, 7058.18877056, 7700.249589  ,
       7046.89134188, 6982.86581387, 7825.34960181, 6629.14651646,
       6353.58740101, 7179.04016787, 7672.50377463, 7490.35599671,
       6316.44893164, 8132.13906892, 6406.87008215, 6401.18287215,
       6360.0559647 , 6846.62348407, 6741.73792539, 6486.05678938,
       7145.02054225, 7259.26728827, 5643.06431822, 6992.00586666,
       7510.07207822, 7304.67351115, 6854.39469804, 6811.01277931,
       6964.99253309, 6542.05222494, 6904.88100252, 7350.73912243,
       6811.01277931, 7273.25588854, 6937.18409719, 7516.17158688,
       6956.41818317, 7527.18156445, 6685.9127665 , 7161.55088774,
       6983.87670162, 6368.73509483, 7101.29270531, 7161.55088774,
       7169.66966032, 6648.53241271, 6398.25196051, 7040.03723501,
       6134.10017797, 6614.58155039, 7341.40684457, 7850.35969393,
       6537.56244081, 7232.69203865, 7426.02722314, 7390.42487212,
       6447.97532538, 8104.49236359, 7156.74887026, 7202.15311803,
       6323.22573898, 7273.25588854, 7273.25588854, 7337.46639949,
       7415.23510625, 6904.88100252, 6769.80771604, 7039.59862637,
       7504.7956852 , 6972.1410456 , 6471.37228911, 7156.74887026,
       6280.76737042, 7981.0484178 , 6393.59928083, 6983.87670162,
       7601.44959681, 8285.83587735, 6530.51791723, 6406.9705519 ,
       6710.71617336, 7747.66193873, 8055.78810401, 6302.92752395,
       6746.28968691, 6449.5947164 , 7531.58201679, 7169.66966032,
       6460.41209161, 7264.91645018, 6678.34490202, 7411.58364263,
       7711.09973267, 7392.72764109, 6987.52101962, 7270.58663535,
       6902.65422878, 6752.07431295, 7437.23548602, 6755.93946187,
       6880.95287538, 7030.04061357, 7657.28052415, 6838.70717786,
       7489.6235159 , 6566.34172743, 8123.69291266, 6039.26838869,
       6934.76069182, 6077.85667702, 8285.83587735, 6983.87670162,
       7604.26975947, 7724.28980335, 6630.17070518, 6854.39469804,
       6972.1410456 , 6542.05222494, 6983.87670162, 6968.98048469,
       6642.92449254, 6823.72893415, 8130.03795231, 6144.85397393,
       6988.05209491, 7609.57783212, 5850.48974297, 7922.19368528,
       7172.28078124, 6801.36430069, 6405.33493685, 7093.16354028,
       6927.54999672, 7523.27026514, 7130.54389407, 7192.70198754,
       8079.54951673, 7325.16897151, 7052.77518731, 6447.97532538,
       7194.48707443, 6519.2719862 , 7474.4449474 , 7130.54389407,
       7044.28921182, 6699.1277802 , 7062.81280248, 7933.48538423,
       6516.572625  , 7169.66966032, 8045.64270533, 7127.83986159,
       6741.73792539, 6471.52592753, 7156.74887026, 6881.46928872,
       7164.34821276, 7191.34172739, 7399.85513223, 7272.68891453,
       7160.33918593, 7399.60706685, 7120.75908753, 7046.51139353,
       6460.1081249 , 5593.23909341, 7425.49983   , 7372.20652451,
       7520.09742767, 6959.28039483, 7052.77518731, 7832.76820231,
       7556.88934489, 6316.44893164, 7694.22613329, 6425.90086812,
       6904.46574164, 6594.29119985, 6790.79753184, 6677.18510967,
       6576.72854626, 7255.01996964, 7590.64661012, 7773.73953593,
       6519.2719862 , 7298.39627124, 7625.48888143, 6846.62348407,
       6080.85441523, 7193.64374547, 6846.62348407, 8079.54951673,
       6911.33327219, 7559.64518735, 6951.32745375, 7059.27078095,
       6974.7925664 , 6542.21732276, 7293.34060895, 7260.32924473,
       7259.53629026, 6923.50233861, 7532.08263618, 7206.77596245,
       7235.68356017, 7039.68499105, 6716.83224362, 7244.15631624,
       7273.25588854, 6854.39469804, 7120.71237045, 7285.12213964,
       6923.50233861, 7350.90486843, 8100.80778493, 6278.76461114,
       7036.2656462 , 7169.66966032, 7186.70696843, 6469.42602864,
       5739.21684813, 6130.05679608, 7083.01906781, 7270.58663535,
       7243.7692173 , 6711.77846342, 7848.96043219, 6855.52062424,
       6956.41818317, 7161.55088774, 6539.34819247, 7428.07149184,
       7169.66966032, 7036.864138  , 7046.89134188, 7507.17041923,
       7426.38327658, 6470.52425364, 7546.17345905, 6679.13595916,
       6923.50233861, 7062.81280248, 8274.91018183, 6841.14217172,
       7304.73889531, 6149.92825972, 6868.80284063, 6908.81202733,
       6039.26838869, 6908.81202733, 6611.19701548, 7656.89963909,
       7583.90267846, 6603.00122935, 7146.62004119, 6518.30059896,
       6031.69276507, 7130.27038325, 7120.75908753, 7150.31249942,
       7452.75943638, 6401.18287215, 6337.93314371, 7492.35891897,
       7510.72543295, 7263.81765834, 6846.62348407, 6925.35065268,
       7840.36699093, 7789.9162055 , 7459.76044713, 6858.87088652,
       7656.89963909, 6730.64161058, 7255.89197226, 6629.14651646,
       6697.15731813, 6775.98603158, 7115.40660014, 7212.32441285,
       6741.73792539, 6769.80771604, 7273.25588854, 7076.88474429,
       7270.58663535, 8169.51942271, 7031.03606736, 6691.44051748,
       6397.08307334, 7076.88474429, 6446.89068393, 5832.22257489,
       6632.72398182, 7101.75690681, 7110.93869005, 7120.95329021,
       6902.22942267, 7718.34870598, 6871.42436274, 6779.76016137,
       6598.69791968, 6773.98678845, 6684.86801975, 7046.89134188,
       6492.83359672, 7567.39104436, 6982.86581387, 7828.83272758,
       6788.92753446, 7319.90589412, 7565.11670428, 6407.12068852,
       7036.2656462 , 7933.48538423, 7576.11098942, 7484.66466722,
       7365.43842796, 7076.88474429, 7245.44430703, 6517.70129887,
       6721.8605934 , 6802.53318786, 7402.5591647 , 5733.72882995,
       6956.45474362, 7267.62048266, 6441.64325359, 7264.91645018,
       6711.86143098, 7602.62869216, 6212.25576707, 6880.95287538,
       7052.77518731, 7465.29949866, 6874.20276402, 6460.1081249 ,
       6733.41700257, 7020.86995647, 7396.90303437, 7046.89134188,
       6663.13771368, 6437.69646103, 7405.72856636, 6743.6247694 ,
       7230.31002897, 6929.18569342, 6701.82381581, 6846.79296741,
       7329.9100718 , 7101.65303133, 8013.83551431, 6679.13595916,
       6429.30545247, 6621.1896741 , 6469.42602864, 6345.20147718,
       7113.98938607, 6846.62348407, 6869.26303108, 6764.19804558,
       8118.5921239 , 7551.02520228, 8118.5921239 , 6847.39978269,
       7194.70545435, 7030.28153333, 8463.32717365, 7062.81280248,
       6349.70430886, 7145.33437296, 6526.91142624, 6934.70953097,
       6603.00122935, 6847.39978269, 7042.01718935, 7179.04016787,
       7165.22021538, 6551.08384849, 6700.12577496, 7582.13893151,
       7209.47999492, 6395.3850325 , 7399.4418028 , 6829.87592647,
       6574.94279459, 8382.65457918, 7621.18229056, 7132.13553126,
       7091.25492716, 7214.42421241, 7411.88157628, 7258.42511233,
       6595.24100962, 6786.90256011, 8234.59652053, 7046.89134188,
       6741.73792539, 6665.61455147, 6496.8268299 , 7369.9944316 ,
       6598.5763643 , 7858.65894126, 7660.85539324, 7222.29449782,
       7740.31515599, 8074.66512692, 6097.42109738, 6407.12068852,
       6503.67387639, 6847.39978269, 7880.08527911, 6782.59548882,
       7272.10821398, 7989.759371  , 6741.73792539, 7390.85396458,
       6983.87670162, 7046.89134188, 7015.47003307, 6386.6293041 ,
       6914.06776056, 6679.13595916, 6603.00122935, 6889.59845376,
       7904.8630665 , 6609.45401809, 6888.0164142 , 7270.58663535,
       7271.80302157, 7334.82807312, 7927.14381929, 6881.46928872,
       7473.75493159, 7183.83529716, 7285.12213964, 7179.48901147,
       7046.89134188, 7380.82434627, 7036.06244189, 7252.9398744 ,
       6838.70717786, 7597.8421761 , 7840.76909007, 7527.73635049,
       7062.81280248, 6630.01994935, 7014.38539162, 6956.41818317,
       7691.95684546, 8013.82060671, 6617.58318312, 7271.80302157,
       7293.10143364, 6750.84015442, 8459.02920471, 7484.22975393,
       6754.99172628, 6838.70717786, 6497.7924454 , 6848.93801958,
       7169.66966032, 7475.24921156, 8112.54344095, 7076.88474429,
       6846.62348407, 8374.90315081, 7047.16726713, 6559.21301353,
       6504.56925274, 7671.55663138, 7798.66321329, 6889.04618264,
       7263.68151569, 7045.99837996, 7272.88356005, 7129.58285899,
       7273.25588854, 6401.18287215, 7171.0073824 , 6904.73925246,
       7058.46921873, 7064.77635728, 6802.53318786, 6878.16136636,
       7369.9944316 , 7013.106869  , 7030.66994809, 6621.1896741 ,
       6847.39978269, 7209.14442727, 7726.24234444, 6983.87670162,
       7464.63412596, 6983.87670162, 6368.83787622, 6744.64867011,
       7011.11914773, 7390.82350868, 6878.16136636, 6723.7550392 ,
       6648.26127641, 7929.29579479, 6952.54085804, 7132.49474355,
       7484.22975393, 7066.09430538, 6929.93087096, 7156.74887026,
       6684.03716926, 7168.70620581, 6705.70845428, 7082.67762353,
       6337.93314371, 7046.91666077, 7477.88785988, 7455.8505678 ,
       7798.66321329, 7172.09964114, 6854.39469804, 6134.10017797,
       7101.89119711, 7618.36139029, 7554.18531242, 7703.69250148,
       6621.1896741 , 6586.67845061, 6983.87670162, 7100.53976327,
       6534.78570024, 6868.97992055, 7471.92671492, 6741.73792539,
       6952.61809607, 8088.90449011, 8066.58093452, 6881.46928872,
       6810.6623529 , 7011.21944023, 7383.30713837, 7271.80302157,
       7153.48455936, 7067.03386841, 7183.83529716, 5915.07234371,
       6846.62348407, 7835.18112543, 7115.20083236, 7039.87213719,
       7119.47938257, 5832.22257489, 7265.67098421, 6649.8847704 ,
       6753.41717806, 6741.73792539, 7225.4064996 , 7025.43244869,
       6665.61455147, 6929.18569342, 7997.0061842 , 6972.1410456 ,
       6541.04623332, 7883.29588686, 6369.49845032, 7371.99081742,
       6323.22573898, 7718.86467078, 8153.58735203, 7159.97378176,
       8028.26029521, 6463.2812219 , 7271.27194628, 6622.89245821,
       7929.75705851, 7273.25588854, 7052.81364006, 7116.10420557,
       7517.10328703, 6491.66054713, 7039.68499105, 6491.66054713,
       6782.2845355 , 6118.45464262, 7625.82628334, 6588.46420228,
       6856.50809806, 6436.23966936, 6540.68798947, 7805.05121787,
       7062.81280248, 6858.52862343, 6332.8342617 , 7395.70304922,
       8041.2935742 , 7619.57699454, 6450.37522816, 6059.22199568,
       6956.51296404, 7271.80302157, 7473.75493159, 6654.74419431,
       7058.00443611, 7087.11853078, 6957.32954534, 6905.57691957,
       7403.44020139, 7528.85465877, 7608.59728593, 6024.42624037,
       6496.76556851, 6730.45318446, 7179.04016787, 6846.79546588,
       8274.91018183, 7226.39271812, 6429.81557911, 6813.06225567,
       7176.70780601, 6741.73792539, 7082.42864345, 6402.16183984,
       7021.99891989, 6814.42679608, 7204.40122842, 6893.20494474,
       7840.76909007, 6679.13595916, 6675.45596516, 7033.56161373,
       7386.6064749 , 6947.73894149, 7185.98034933, 6621.1896741 ,
       7249.70476664, 7189.69602598, 5926.20950794, 6323.27848203,
       6825.8031516 , 5997.01644376, 8510.84924698, 7862.89016224,
       7888.47252852, 6097.42109738, 7239.51321213, 5918.0803429 ,
       7431.90865413, 7738.89923321, 6560.85132373, 7337.56256149,
       7407.81340486, 6957.32954534, 8274.91018183, 6996.42238781,
       6733.34564305, 7207.77763634, 5809.89678397, 6993.4887651 ,
       6679.13595916, 6614.69103103, 7255.87095089, 6838.70717786,
       6741.72541445, 7658.53026342, 7127.83986159, 7667.19818836,
       6658.49344463, 6752.11521657, 6805.44194256, 6381.17202404,
       7516.17158688, 7744.56391063, 7370.82816257, 6764.19804558,
       7179.04016787, 6652.88090068, 7020.42822905, 6860.47947291,
       7555.03485812, 6413.89749586, 5832.22257489, 7046.89134188,
       7609.41425362, 6622.08594604, 7524.66980845, 7518.90607525,
       6923.50233861, 6848.7438169 , 7937.58853833, 6982.86581387,
       7202.64019357, 7100.9878239 , 7115.51296993, 6898.8333092 ,
       6927.54999672, 7411.62861526, 7056.28202368, 6722.96520723,
       7048.59979402, 7355.82044261, 6847.39978269, 7162.5310905 ,
       7036.2656462 , 8331.9997893 , 7161.55088774, 7393.55799705,
       6109.1567534 , 6990.75612738, 7130.54389407, 7524.45452564,
       5905.04021315, 7169.66966032, 6290.50026716, 7706.97400438,
       5744.86599418, 7255.89197226, 6934.08780058, 6793.84793038,
       7266.55427736, 7775.77977531, 8274.91018183, 6741.73792539,
       7046.89134188, 7782.77115948, 6821.47562514, 6711.77333143,
       6878.16136636, 7508.02140047, 6576.72854626, 7507.17041923,
       7206.77596245, 6627.0711051 , 7437.23548602, 6739.20416959,
       7929.29579479, 7406.68372986, 7140.54305648, 6942.88985685,
       7468.44315335, 7188.2166683 , 8125.29747017, 6629.14651646,
       7476.10210821, 7447.49877094, 7510.07207822, 6323.22573898,
       7325.9284606 , 7758.56736663, 7468.48810396, 6685.9127665 ,
       6657.39389558, 6814.06749558, 6511.26589089, 6999.16593082,
       6598.41664761, 7380.99198507, 8234.59652053, 8098.78834905,
       6453.10971653, 8203.66466873, 7156.74887026, 7304.73889531,
       7848.96043219, 7206.38886351, 7768.41559388, 6370.9092219 ,
       7043.16903911, 7130.54389407, 6923.50233861, 6408.47896979,
       6909.11599405, 6538.64708226, 6809.57771144, 7933.48538423,
       6846.62348407, 6860.67367559, 6903.85073556, 7329.74930662,
       6988.05209491, 7101.89119711, 6134.10017797, 7744.71722064,
       5756.85313727, 6952.61809607, 7844.21274898, 7572.19747834,
       6685.3142747 , 7026.43412258, 7584.23605085, 6814.2325934 ,
       6838.70717786, 6654.74419431, 7425.51473759, 7574.27556575,
       6878.16136636, 6904.73925246, 6946.19238112, 7785.91874873,
       6595.37738116, 7390.82350868, 7127.83986159, 5689.56515536,
       7929.29579479, 6878.16136636, 6758.07206002, 7209.47999492,
       7370.82816257, 7062.81280248, 6849.6523403 , 6878.94913852,
       7076.88474429, 7246.89080461, 6800.14443665, 6018.7512622 ,
       7933.48538423, 6679.13595916, 6640.64784657, 7217.60915996,
       7830.10009679, 8336.59301108, 8229.00245273, 7942.61491286,
       7013.106869  , 6847.39978269, 7707.73773736, 7209.47999492,
       6764.84886736, 6847.39978269, 6212.83567188, 6586.67845061,
       7428.07149184, 7169.66966032, 6463.11612408, 7270.58663535,
       6326.93128237, 6413.89749586, 6108.15151349, 7120.95329021,
       7350.90486843])

In [ ]:
mse = mean_squared_error(y_test, y_hat)/np.mean(y_hat)
print("Test Mean Squared Error:", mse)

Test Mean Squared Error: 192.407081694713